{{ titleParentMaj()}}

<!-- <sig-add-person></sig-add-person> -->

<!-- <sig-discover-obs></sig-discover-obs> -->



<!-- <h2>Weather</h2> -->
<!-- <sig-display-weather></sig-display-weather>

<app-list-persons (changeColor)="setDarkModeColor($event)" title="Liste des personnes" /> 
<app-list-persons [title]="titleParent()" /> 

<sig-list-creatures></sig-list-creatures> -->

<ul>
    <li><a routerLink="persons">Personnes de Harry</a></li>
    <li><a routerLink="persons/1">Harry</a></li>
    <li><a routerLink="creatures">Creatures</a></li>
</ul>

<sig-discover-resources></sig-discover-resources>

<router-outlet></router-outlet>
